@import url('https://fonts.cdnfonts.com/css/pokemon-fire-red');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


*{
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Fire Red', sans-serif;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #000000;
}

a :visited{
    color: #000000;
}

body{
    background-image: url(src/fundoDeTela/wallpaper\ pokejason.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#pokeJsonLogo{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 24px;
}

#pokeBolaLogo{
    height: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#miniGame{    
    height: 400px;
    width: 400px;
    background-image: url(src/paisagem/paisagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    border-radius: 10px;

}

.container #miniGame #pokemonInicial{
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.container #miniGame #pokemonInicial #pokemonSprite{
    height: 100px;
}

.container #miniGame #botoesAcao{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'pokemon';
}

.container #miniGame #botoesAcao .botao{
    margin-top: 20px;
    height: 40px;
    width: fit-content;
    padding: 10px;
    background: linear-gradient(#ff0000 50%, #ffffff 50%);
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.container #miniGame #atributos{
    justify-content: center;
    margin: 10px;
    border: solid 2px black;
    background-color: #fff78a;
    height: 70px;
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    
}

.container #miniGame #atributos #atributosPokemon{
    display: flex;
    justify-content: space-between;
    
}

.container #miniGame #atributos #atributosPokemon2 .percentuais{
    display: flex;
    
}

.container #miniGame #atributos #atributosPokemon2 #percentualVida{
    display: block;
    background-color: #ff0000;
    border-radius: 10px;
    height: 100%;
    width: percentualVida;
    overflow-y: hidden; 
}

.container #miniGame #atributos #atributosPokemon2 #percentualSujeira{
    display: block;
    background-color: #0091ff;
    border-radius: 10px;
    height: 100%;
    width: percentualVida;
    overflow-y: hidden; 
}

.container #miniGame #atributos #atributosPokemon2 #percentualFome{
    display: block;
    background-color: #fff700;
    border-radius: 10px;
    height: 100%;
    overflow-y: hidden; 
}

.container #miniGame #atributos #atributosPokemon2 .barra{
    height: 10px;
    width: 100%;
    border: 2px solid black;
    margin: 3px;
    border-radius: 10px;
    
}
